@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

.Lanading__Container {
  display: flex;
  flex-direction: column;
}

.Landing__Section__Container {
  padding: 1rem 1.2rem;
}

@media (min-width: 600px) {
  /* .Lanading__Container {
    padding: 0;
  } */

  .Landing__Section__Container {
    padding: 0;
  }
}

/* SECTION 1: INTRO */
.Landing__Section__Container.SectionIntro {
  height: 85vh;
}

.SectionIntro__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SectionIntro__Image__Container {
  position: relative;
  min-height: 37vh;
  min-width: 27vh;
  /* height: 460px; */
  /* width: 337px; */
}

.SectionIntro__Slogan__Container {
  margin: 1.25rem auto 0rem;
}

.SectionIntro__Slogan__Text {
  letter-spacing: 1.63px;
  font-weight: 700;
}

.SectionIntro__CatchPhrase__Container {
  margin: 0 auto 0.25rem;
}

.SectionIntro__Value__Container {
  margin: 1.5rem auto 1.5rem;
}

.SectionIntro__Value__Text {
  color: rgba(22, 28, 45, 0.7);
}

.SectionIntro__StartNow__Container {
  margin: 0.25rem auto 1.25rem;
}

.SectionIntro__StartNow__Button_Text {
  margin: 10px 40px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

@media (min-width: 600px) {
  .SectionIntro__Container {
    padding: 1.25rem 20vw 0;
  }

  .SectionIntro__Slogan__Container {
    margin: 1.5rem auto 0.5rem;
  }

  .SectionIntro__Value__Container {
    margin: 0.5rem auto 0.5rem;
    padding: 0 4vw;
  }

  .SectionIntro__CatchPhrase__Container {
    margin: 0.5rem auto 0.25rem;
    padding: 0 12vw;
  }
}

/* SECTION 2: BENEFIT */

.Landing__Section__Container.Section_Benefit {
  min-height: 72.5vh;
}

.SectionBenefit__Content__Container {
  background-color: #F4F7FA;
}

.SectionBenefit__Container {
  display: flex;
  flex-direction: column;
}

.SectionBenefit__Image__Container {
  position: relative;
  width: 90vw;
  margin: auto;
  height: 25vh;
}

.SectionBenefit__Image {
  object-fit: cover;
  object-position: 50% 15%;
}

.SectionBenefit__Content__Details__Value__Data_Text {
  margin: 0 15vw 0 0;
}

.SectionBenefit__Value__Text {
  line-height: 20px;
}

.SectionBenefit__Content__Details__Value__Icon__Container {
  position: relative;
  /* // x=-1, y=1 offset */
  /* top: -0.15rem;
  left: -0.15rem; */
  /* bottom: 0.5rem;
  right: 0.5rem; */
  z-index: 1;
}

.SectionBenefit__Main__Title__Container {
  padding: 0 10vw 0 0;
  margin: 2rem 0 1rem;
}

.SectionBenefit__Main__Text__Container {
  margin: 1.3rem 0 1.3rem;
}

.SectionBenefit__Main__Text {
  color: rgba(22, 28, 45, 0.7);
}

.SectionBenefit__Content__Details__Value__Container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0.75rem;
}

.SectionBenefit__Content__Details__Value__Icon__IconWithCircle {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* border: 1px dashed red; */
}

.SectionBenefit__Content__Details__Value__Icon__Circle {
  position: absolute;
  /* // x=1, y=1 offset */
  top: 0.65rem;
  left: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  z-index: 0;
}

.SectionBenefit__Content__Details__Value__Icon__Circle.Red {
  background-color: #FE5F55;
  opacity: 0.3;

}

.SectionBenefit__Content__Details__Value__Icon__Circle.Blue {
  background-color: #3251C3;
  opacity: 0.3;
}

@media (min-width: 600px) {
  .Landing__Section__Container.Section_Benefit {
    min-height: auto;
  }

  .SectionBenefit__Container {
    flex-direction: row;
    position: relative;
  }

  .SectionBenefit__Image__Container {
    flex: 1;
    height: 65vh;
    width: auto;
  }

  .SectionBenefit__Content__Container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10% 25% 10% 15%; */
  }

  .SectionBenefit__Content__Main__Container {
    padding: 0 10vw 0 7vw;
  }

  .SectionBenefit__Content__Details__Container {
    display: flex;
    flex-direction: row;
    padding: 0 10vw 0 7vw;
    margin: 1.5rem 0 0 0;
  }

  .SectionBenefit__Content__Details__Value__Data_Text {
    margin: auto;
  }

  .SectionBenefit__Main__Text {
    padding: 0 5vw 0 0;
  }

  .SectionBenefit__Content__Details__Value__Container.Colaboration {
    margin: 0.5rem 0.5rem 0.75rem 0;
  }

  .SectionBenefit__Content__Details__Value__Container.Transparency {
    margin: 0.5rem 0 0.75rem 0.5rem;
  }
}


/* SECTION 3: AIMED AT */

.Landing__Section__Container.Section_AimedAt {
  min-height: 72.5vh;
  background-color: #3251C3;
  color: #ffffff;
}

.SectionAimedAt__Container {
  display: flex;
  flex-direction: column;
}

.SectionAimedAt__Image__Container {
  position: relative;
  width: 90vw;
  margin: auto;
  height: 25vh;
}

.SectionAimedAt__Image {
  object-fit: cover;
  object-position: 50% 45%;
}

.SectionAimedAt__Statement__Text {
  color: #ffffff;
}

.SectionAimedAt__Content__Details__Statement__Avatar__Container {
  margin: 0 0 0.5rem;
}

.SectionAimedAt__Content__Details__Statement__Avatar {
  width: 3rem;
  height: 3rem;
}

.SectionAimedAt__Content__Details__Statement__Data_Name {
  margin: 0.2rem 0 0 0;
}

.SectionAimedAt__Statement__Name {
  color: #ffffff;
  font-weight: 500;
}

.SectionAimedAt__Main__Title__Container {
  padding: 0 10vw 0 0;
  color: #ffffff;
  margin: 2rem 0 1rem;
}

.SectionAimedAt__Main__Text__Container {
  margin: 1.3rem 0 1.3rem;
}

.SectionAimedAt__Main__Text {
  color: #ffffff;
}

.SectionAimedAt__Content__Details__Statement__Container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 2rem;
}

@media (min-width: 600px) {
  .Landing__Section__Container.Section_AimedAt {
    min-height: auto;
  }

  .SectionAimedAt__Container {
    flex-direction: row;
    position: relative;
  }

  .SectionAimedAt__Image__Container {
    flex: 1;
    height: 65vh;
    width: auto;
  }

  .SectionAimedAt__Content__Container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SectionAimedAt__Content__Main__Container {
    padding: 0 10vw 0 7vw;
  }

  .SectionAimedAt__Content__Details__Container {
    display: flex;
    flex-direction: row;
    padding: 0 10vw 0 7vw;
    margin: 1.5rem 0 0 0;
  }

  .SectionAimedAt__Content__Details__Statement__Data__Text {
    margin: auto;
  }

  .SectionAimedAt__Main__Text {
    padding: 0 5vw 0 0;
  }

  .SectionAimedAt__Content__Details__Statement__Container.Colaboration {
    margin: 0.5rem 0.5rem 0.75rem 0;
  }

  .SectionAimedAt__Content__Details__Statement__Container.Transparency {
    margin: 0.5rem 0 0.75rem 0.5rem;
  }
}

/* 

.Feature__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.Feature__Container:nth-child(odd) {
  background-color: rgba(198, 212, 217, 0.2);
}

.Lanading__Title {
  text-align: center;
}

.Landing__Feature__Image__Container {
  position: relative;
  height: 460px;
  width: 337px;
}

.LearnMoreButton_Container {
  position: sticky;
  padding: 1em 0.5em 0.5em;
  background-color: white;
  bottom: 0;
  justify-content: center;
}

.Landing__Feature__Text__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Lanading__Feature__Title {
  text-align: center;
  margin: 0 0 1em 0;
}

.Lanading__Feature__Description {
  text-align: justify;
}

.LearnMore__NewFeature__TextField {
  flex-grow: 1;
}

.LearnMore__Title {
  text-align: center;
  margin: 0.5em;
}

.LearnMore__ShortText {
  text-align: justify;
  margin: 2em 1em;
}

.LearnMore__Form__Image__Container {
  position: relative;
  height: 80vw;
  width: 80vw;
}

.LearnMore__FeatureItem__Icons {
  display: flex;
  flex-direction: column;
}

.LearnMore__Stepper__Steps__Container {
  min-height: 20rem;
  width: 100%;
}

.LearnMore__Step__Description {
  text-align: justify;
  margin: 2rem 0.5rem;
}

.LearnMore_Stepper_Desktop__Actions {
  display: flex;
  justify-content: space-between;
}

.LearnMore__DefaultFeature__FormControlLabel .MuiFormControlLabel-label,
.LearnMore__CustomFeature__FormControlLabel .MuiFormControlLabel-label {
  text-align: justify;
}

.LearnMore__PricingRange_Container{
  margin: 3rem 0 2rem;
}

.LearnMore__Stepper__Mobile__Actions{
  margin-top: 1.5rem;
}

.LearnMore__Stepper__Desktop__Actions {
  margin-top: 2rem;
}

.LearnMoreCompletedScreen__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.LearnMoreCompletedScreen__Image__Container {
  position: relative;
  height: 80vw;
  width: 80vw;
}

.LearnMoreCompletedScreen__ShortText {
  margin: 1em 0.5em;
}

.LearnMoreCompletedScreen__FillAgain__Text {
  margin: 1em 0 1.5em;
}

.LandingFooter__Container {
  background-color: black;
  min-height: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingFooter__PoweredBy {
  margin: 0.75rem 0 0.375rem;
}

.LandingFooter__Contact {
  margin: 0.375rem 0 0.75rem;
}

@media (min-width: 600px) {
  .Lanading__Title {
    margin-top: 1em;
  }

  .Feature__Container {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1.5rem 4rem;

    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #0A2239;

    padding: 1.5rem;
  }

  .Feature__Container:nth-child(odd) {
    margin: 3rem 15% 3rem 3rem;
    padding: 1rem;
    background-color: transparent;
  }

  .Feature__Container:nth-child(even) {
    flex-direction: row-reverse;
    margin: 3rem 3rem 3rem 15%;
    background-color: rgba(198, 212, 217, 0.2);
  }

  .Feature__Container:nth-child(odd) .Lanading__Feature__Title {
    text-align: left;
  }

  .Feature__Container:nth-child(even) .Lanading__Feature__Title {
    text-align: right;
  }

  .Landing__Feature__Image__Container {
    position: relative;
    height: 30vh;
    width: 30vh;
    min-width: 30vh;
  }

  .LearnMoreButton_Container {
    display: flex;
    margin: 1em;
  }

  .Landing__Feature__Text__Container {
    margin: auto 2em;
    align-items: start;
  }

  .Feature__Container:nth-child(even) .Landing__Feature__Text__Container {
    align-items: end;
    text-align: right;
  }

  .LearnMoreButton_Container {
    padding: 0.5em 15%;
  }

  .LearnMore__NewFeatureInput {
    flex-grow: 1;
  }

  .LearnMore__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LearnMore__Form__Image__Container {
    position: relative;
    height: 40vh;
    width: 40vh;
    min-width: 40vh;
  }

  .LearnMore__Form {
    width: 80%;
  }

  .LearnMore__FeatureItem__Icons {
    flex-direction: row;
  }

  .LearnMore__Stepper__Steps__Container {
    width: 80%;
  }

  .LearnMoreCompletedScreen__Image__Container {
    position: relative;
    height: 50vh;
    width: 50vh;
    min-width: 50vh;
  }
}


@media (min-width: 900px) {
  .LearnMoreButton_Container {
    padding: 0.5em 35%;
  }

  .LandingFooter__Container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .LandingFooter__PoweredBy {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }

  .LandingFooter__Contact {
    margin: 0 5rem 0 auto;
  } */