@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

.Landing__Container {
  display: flex;
  flex-direction: column;
}

.Landing__Section__Container {
  padding: 1rem 1.2rem;
}

@media (min-width: 600px) {
  /* .Landing__Container {
    padding: 0;
  } */

  .Landing__Section__Container {
    padding: 0;
  }
}

/* SECTION 1: INTRO */
.Landing__Section__Container.SectionIntro {
  height: 85vh;
}

.SectionIntro__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SectionIntro__Image__Container {
  position: relative;
  min-height: 32vh;
  min-width: 23vh;
  /* height: 460px; */
  /* width: 337px; */
}

.StartNow__Form__Image {
  object-fit: cover;
  object-position: 50% 50%;
}

.SectionIntro__Slogan__Container {
  margin: 1.25rem auto 0rem;
}

.SectionIntro__Slogan__Text {
  letter-spacing: 1.63px;
  font-weight: 700;
}

.SectionIntro__CatchPhrase__Container {
  margin: 0 auto 0.25rem;
}

.SectionIntro__Value__Container {
  margin: 1.5rem auto 1.5rem;
}

.SectionIntro__Value__Text {
  color: rgba(22, 28, 45, 0.7);
}

.SectionIntro__StartNow__Container {
  margin: 0.25rem auto 1.25rem;
}

.MuiTypography-root.SectionIntro__StartNow__Button__Text,
.SectionIntro__StartNow__Button__Text {
  margin: 10px 40px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

@media (min-width: 600px) {
  .SectionIntro__Container {
    padding: 1.25rem 20vw 0;
  }

  .SectionIntro__Slogan__Container {
    margin: 1.5rem auto 0.5rem;
  }

  .SectionIntro__Value__Container {
    margin: 0.5rem auto 0.5rem;
    padding: 0 4vw;
  }

  .SectionIntro__CatchPhrase__Container {
    margin: 0.5rem auto 0.25rem;
    padding: 0 12vw;
  }
}

/* SECTION 2: BENEFIT */

.Landing__Section__Container.Section_Benefit {
  min-height: 72.5vh;
}

.SectionBenefit__Content__Container {
  background-color: #F4F7FA;
}

.SectionBenefit__Container {
  display: flex;
  flex-direction: column;
}

.SectionBenefit__Image__Container {
  position: relative;
  width: 90vw;
  margin: auto;
  height: 25vh;
}

.SectionBenefit__Image {
  object-fit: cover;
  object-position: 50% 15%;
}

.SectionBenefit__Content__Details__Value__Data_Text {
  margin: 0 15vw 0 0;
}

.SectionBenefit__Value__Text {
  line-height: 20px;
}

.SectionBenefit__Content__Details__Value__Icon__Container {
  position: relative;
  /* // x=-1, y=1 offset */
  /* top: -0.15rem;
  left: -0.15rem; */
  /* bottom: 0.5rem;
  right: 0.5rem; */
  z-index: 1;
}

.SectionBenefit__Main__Title__Container {
  padding: 0 10vw 0 0;
  margin: 2rem 0 1rem;
}

.SectionBenefit__Main__Text__Container {
  margin: 1.3rem 0 1.3rem;
}

.SectionBenefit__Main__Text {
  color: rgba(22, 28, 45, 0.7);
}

.SectionBenefit__Content__Details__Value__Container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0.75rem;
}

.SectionBenefit__Content__Details__Value__Icon__IconWithCircle {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* border: 1px dashed red; */
}

.SectionBenefit__Content__Details__Value__Icon__Circle {
  position: absolute;
  /* // x=1, y=1 offset */
  top: 0.65rem;
  left: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  z-index: 0;
}

.SectionBenefit__Content__Details__Value__Icon__Circle.Red {
  background-color: #FE5F55;
  opacity: 0.3;

}

.SectionBenefit__Content__Details__Value__Icon__Circle.Blue {
  background-color: #3251C3;
  opacity: 0.3;
}

@media (min-width: 600px) {
  .Landing__Section__Container.Section_Benefit {
    min-height: auto;
  }

  .SectionBenefit__Container {
    flex-direction: row;
    position: relative;
  }

  .SectionBenefit__Image__Container {
    flex: 1;
    height: 65vh;
    width: auto;
  }

  .SectionBenefit__Content__Container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10% 25% 10% 15%; */
  }

  .SectionBenefit__Content__Main__Container {
    padding: 0 20vw 0 15vw;
  }

  .SectionBenefit__Content__Details__Container {
    display: flex;
    flex-direction: row;
    padding: 0 20vw 0 15vw;
    margin: 1.5rem 0 0 0;
  }

  .SectionBenefit__Content__Details__Value__Data_Text {
    margin: auto;
  }

  .SectionBenefit__Content__Details__Value__Container.Colaboration {
    margin: 0.5rem 0.5rem 0.75rem 0;
  }

  .SectionBenefit__Content__Details__Value__Container.Transparency {
    margin: 0.5rem 0 0.75rem 0.5rem;
  }
}


/* SECTION 3: AIMED AT */

.Landing__Section__Container.Section_AimedAt {
  min-height: 72.5vh;
  background-color: #3251C3;
  color: #ffffff;
}

.SectionAimedAt__Container {
  display: flex;
  flex-direction: column;
}

.SectionAimedAt__Image__Container {
  position: relative;
  width: 90vw;
  margin: auto;
  height: 25vh;
}

.SectionAimedAt__Image {
  object-fit: cover;
  object-position: 50% 45%;
}

.SectionAimedAt__Statement__Text {
  color: #ffffff;
}

.SectionAimedAt__Content__Details__Statement__Avatar__Container {
  margin: 0 0 0.5rem;
}

.SectionAimedAt__Content__Details__Statement__Avatar {
  width: 3rem;
  height: 3rem;
}

.SectionAimedAt__Content__Details__Statement__Data_Name {
  margin: 0.2rem 0 0 0;
}

.SectionAimedAt__Statement__Name {
  color: #ffffff;
  font-weight: 500;
}

.SectionAimedAt__Main__Title__Container {
  padding: 0 10vw 0 0;
  color: #ffffff;
  margin: 2rem 0 1rem;
}

.SectionAimedAt__Main__Text__Container {
  margin: 1.3rem 0 1.3rem;
  color: #ffffff;
}

.SectionAimedAt__Main__Text {
  color: #ffffff;
}

.SectionAimedAt__Content__Details__Statement__Container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 2rem;
}

@media (min-width: 600px) {
  .Landing__Section__Container.Section_AimedAt {
    min-height: auto;
  }

  .SectionAimedAt__Container {
    flex-direction: row;
    position: relative;
  }

  .SectionAimedAt__Image__Container {
    flex: 1;
    height: 65vh;
    width: auto;
  }

  .SectionAimedAt__Content__Container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SectionAimedAt__Content__Main__Container {
    padding: 0 15vw 0 20vw;
  }

  .SectionAimedAt__Content__Details__Container {
    display: flex;
    flex-direction: row;
    padding: 0 15vw 0 20vw;
    margin: 1.5rem 0 0 0;
  }

  .SectionAimedAt__Content__Details__Statement__Avatar {
    width: 2.5rem;
    height: 2.5rem;
  }

  .SectionAimedAt__Content__Details__Statement__Data__Container {
    margin: 0 0 0 0.75rem;
  }

  .SectionAimedAt__Content__Details__Statement__Data_Name {
    margin: 0.5rem 0 0 0;
  }

  .SectionAimedAt__Content__Details__Statement__Data__Text {
    margin: auto;
  }

  .SectionAimedAt__Main__Text {
    padding: 0 5vw 0 0;
  }

  .SectionAimedAt__Content__Details__Statement__Container.Colaboration {
    margin: 0.5rem 2rem 0.75rem 0;
  }

  .SectionAimedAt__Content__Details__Statement__Container.Transparency {
    margin: 0.5rem 0 0.75rem 0.5rem;
  }

  .SectionAimedAt__Content__Details__Statement__Container {
    flex-direction: row;
  }
}


/* SECTION 4: HOOK */

.Landing__Section__Container.Section_Hook {
  display: flex;
  min-height: 72.5vh;
  background-color: #161C2D;
  background-image: url('https://storage.googleapis.com/media.angorasix.com/landing/v2/main/section04-background.png');
  background-size: 400%;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  color: #ffffff;
}

.SectionHook__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SectionHook__Image__Container {
  position: relative;
  min-height: 57.5vw;
  min-width: 57.5vw;
}

.SectionHook__SecondaryText__Container {
  margin: 1.25rem 1rem 0rem;
}

.SectionHook__MainText__Container {
  margin: 0 auto 0.5rem;
}

.SectionHook__MainText {
  color: #ffffff;
}

.SectionHook__SecondaryText {
  color: #ffffff;
}

@media (min-width: 600px) {
  .Landing__Section__Container.Section_Hook {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .SectionHook__Container {
    padding: 1.25rem 20vw 0;
  }

  .SectionHook__Image__Container {
    min-height: 8rem;
    min-width: 8rem;
  }

  .SectionHook__SecondaryText__Container {
    margin: 1.5rem 12vw 0.5rem;
  }

  .SectionHook__MainText__Container {
    margin: 0.5rem auto 0.25rem;
    padding: 0 7vw;
  }
}