.Feature__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.Feature__Container:nth-child(odd) {
  background-color: rgba(198, 212, 217, 0.2);
}

.Lanading__Title {
  text-align: center;
}

.Landing__Feature__Image__Container {
  position: relative;
  height: 80vw;
  width: 80vw;
}

.LearnMoreButton_Container {
  position: sticky;
  padding: 1em 0.5em 0.5em;
  background-color: white;
  bottom: 0;
  justify-content: center;
}

.Landing__Feature__Text__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Lanading__Feature__Title {
  text-align: center;
  margin: 0 0 1em 0;
}

.Lanading__Feature__Description {
  text-align: justify;
}

.LearnMore__NewFeature__TextField {
  flex-grow: 1;
}

.LearnMore__Title {
  text-align: center;
  margin: 0.5em;
}

.LearnMore__ShortText {
  text-align: justify;
  margin: 2em 1em;
}

.LearnMore__Form__Image__Container {
  position: relative;
  height: 80vw;
  width: 80vw;
}

.LearnMore__FeatureItem__Icons {
  display: flex;
  flex-direction: column;
}

.LearnMore__Stepper__Steps__Container {
  min-height: 20rem;
  width: 100%;
}

.LearnMore__Step__Description {
  text-align: justify;
  margin: 2rem 0.5rem;
}

.LearnMore_Stepper_Desktop__Actions {
  display: flex;
  justify-content: space-between;
}

.LearnMore__DefaultFeature__FormControlLabel .MuiFormControlLabel-label,
.LearnMore__CustomFeature__FormControlLabel .MuiFormControlLabel-label {
  text-align: justify;
}

.LearnMore__PricingRange_Container{
  margin: 3rem 0 2rem;
}

.LearnMore__Stepper__Mobile__Actions{
  margin-top: 1.5rem;
}

.LearnMore__Stepper__Desktop__Actions {
  margin-top: 2rem;
}

.LearnMoreCompletedScreen__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.LearnMoreCompletedScreen__Image__Container {
  position: relative;
  height: 80vw;
  width: 80vw;
}

.LearnMoreCompletedScreen__ShortText {
  margin: 1em 0.5em;
}

.LearnMoreCompletedScreen__FillAgain__Text {
  margin: 1em 0 1.5em;
}

.LandingFooter__Container {
  background-color: black;
  min-height: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingFooter__PoweredBy {
  margin: 0.75rem 0 0.375rem;
}

.LandingFooter__Contact {
  margin: 0.375rem 0 0.75rem;
}

@media (min-width: 600px) {
  .Lanading__Title {
    margin-top: 1em;
  }

  .Feature__Container {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1.5rem 4rem;

    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #0A2239;

    padding: 1.5rem;
  }

  .Feature__Container:nth-child(odd) {
    margin: 3rem 15% 3rem 3rem;
    padding: 1rem;
    background-color: transparent;
  }

  .Feature__Container:nth-child(even) {
    flex-direction: row-reverse;
    margin: 3rem 3rem 3rem 15%;
    background-color: rgba(198, 212, 217, 0.2);
  }

  .Feature__Container:nth-child(odd) .Lanading__Feature__Title {
    text-align: left;
  }

  .Feature__Container:nth-child(even) .Lanading__Feature__Title {
    text-align: right;
  }

  .Landing__Feature__Image__Container {
    position: relative;
    height: 30vh;
    width: 30vh;
    min-width: 30vh;
  }

  .LearnMoreButton_Container {
    display: flex;
    margin: 1em;
  }

  .Landing__Feature__Text__Container {
    margin: auto 2em;
    align-items: start;
  }

  .Feature__Container:nth-child(even) .Landing__Feature__Text__Container {
    align-items: end;
    text-align: right;
  }

  .LearnMoreButton_Container {
    padding: 0.5em 15%;
  }

  .LearnMore__NewFeatureInput {
    flex-grow: 1;
  }

  .LearnMore__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LearnMore__Form__Image__Container {
    position: relative;
    height: 40vh;
    width: 40vh;
    min-width: 40vh;
  }

  .LearnMore__Form {
    width: 80%;
  }

  .LearnMore__FeatureItem__Icons {
    flex-direction: row;
  }

  .LearnMore__Stepper__Steps__Container {
    width: 80%;
  }

  .LearnMoreCompletedScreen__Image__Container {
    position: relative;
    height: 50vh;
    width: 50vh;
    min-width: 50vh;
  }
}


@media (min-width: 900px) {
  .LearnMoreButton_Container {
    padding: 0.5em 35%;
  }

  /* 
  .LandingFooter__Container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .LandingFooter__PoweredBy {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }

  .LandingFooter__Contact {
    margin: 0 5rem 0 auto;
  } */
}