/* Default */
/* .DefaultLayout__Container {
  background: #ffffff;
}

.DefaultLayout__Page__Body {
  display: block;
  padding: 45px 16px 24px;
  margin: -20px auto 20px;
  min-width: 300px;
  width: calc(100% - 20px);
  min-height: calc(100vh - 80px);
  display: block;
}

@media (min-width: 600px) {
  .DefaultLayout__Page__Body {
    padding: 45px 20px;
    width: 90%;
  }
} */

/* Landing */
.DefaultLayout__Container {
  background: #ffffff;
}

/* .LandingLayout__Page__Body {
  display: block;
  padding: 1.5rem 16px 24px;
  margin: 0 auto 20px;
  min-width: 300px;
  width: calc(100% - 20px);
  min-height: calc(100vh - 80px);
  display: block;
}

@media (min-width: 600px) {
  .LandingLayout__Page__Body {
    padding: 45px 20px;
    width: 90%;
  }
} */