.Navbar__Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Navbar__Element.Navbar__Logo {
  flex: 1;
}

.Navbar__Logo__Container {
  position: relative;
  height: 24px;
  width: 175px;
}

.Navbar__Element.Navbar__Menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.Navbar__Menu__Icon {
  color: #000000;
}

.Navbar__Menu__Item__Container {
  display: flex;
  flex: 1;
  margin: auto 15px;
}

.Navbar__Menu__Item__Container.First {
  justify-content: end;
}

.Navbar__Menu__Item__Container.Second {
  justify-content: start;
}

.Navbar__Element.Navbar__Action {
  display: flex;
  justify-content: end;
  flex: 1;
}

.Navbar__Connect__Button__Text {
  margin: 5px 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}