.Navbar__Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Navbar__Element.Navbar__Logo {
  flex: 1;
}

.Navbar__Logo__Container {
  position: relative;
  height: 24px;
  width: 175px;
}

.Navbar__Menu__Icon {
  color: #000000;
}

.Navbar__Menu__Item__Container {
  display: flex;
  flex: 1;
  margin: auto 15px;
}

.Navbar__Menu__Item__Container.First {
  justify-content: end;
}

.Navbar__Menu__Item__Container.Second {
  justify-content: start;
}

.Navbar__Element.Navbar__Action {
  display: flex;
  justify-content: end;
  flex: 1;
}

.MuiTypography-root.Navbar__Connect__Button__Text,
.Navbar__Connect__Button__Text {
  margin: 5px 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

@media (min-width: 600px) {
  .Navbar__Element.Navbar__Menu-Desktop {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}